@keyframes slideDown {
  0% {
    bottom: 100px;
    opacity: 0; }
  10% {
    opacity: 0; }
  100% {
    bottom: 42px;
    opacity: 1; } }

@keyframes slideUp {
  0% {
    bottom: 42px; }
  100% {
    bottom: 100px; } }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #fefefe; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em; }

img {
  max-width: 100%; }

button {
  outline: none; }

.content-section {
  padding: 60px 0; }

.hide-element {
  display: none; }

.add-margin-bottom {
  margin-bottom: 60px; }

header {
  width: 100%;
  padding: 10px 0;
  background-color: #37BC9B;
  color: white; }
  header .logo {
    width: 60px;
    height: auto;
    display: inline-block; }
  header .logo-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding: 15px 0 0 10px;
    margin: 0; }
  header .logo-link {
    color: white;
    text-decoration: none; }
    header .logo-link:hover {
      color: #E6E9ED;
      text-decoration: none; }
  header nav {
    display: inline-block;
    float: right; }
    header nav #menuIcon {
      display: none;
      font-size: 1.4em;
      padding: 19px; }
    header nav ul {
      list-style: none;
      margin: 0; }
      header nav ul li {
        padding: 20px;
        display: inline-block; }
        header nav ul li a {
          color: white;
          text-decoration: none; }
          header nav ul li a:hover, header nav ul li a:active {
            color: #E6E9ED;
            text-decoration: none; }
        header nav ul li:hover {
          background-color: #58ceb1; }

.hero {
  width: 100%;
  padding: 200px 0;
  background-image: linear-gradient(to bottom, rgba(88, 206, 177, 0.5) 0%, rgba(55, 188, 155, 0.5) 100%), url("../images/shirt-hero-gray.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center; }
  .hero h1 {
    text-shadow: 0px 0px 10px rgba(50, 49, 51, 0.5);
    text-transform: uppercase;
    font-size: 2.2em; }
  .hero button {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(50, 49, 51, 0.15);
    border: 3px solid white;
    padding: 10px 15px; }
    .hero button:hover {
      color: #DA4453;
      background-color: rgba(255, 255, 255, 0.15);
      border-color: #DA4453; }
  .hero.about {
    padding: 60px 0;
    background-image: linear-gradient(to bottom, rgba(88, 206, 177, 0.5) 0%, rgba(55, 188, 155, 0.5) 100%), url(../images/about-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -87px;
    background-attachment: fixed; }
  .hero.contact {
    padding: 60px 0;
    background-image: linear-gradient(to bottom, rgba(88, 206, 177, 0.5) 0%, rgba(55, 188, 155, 0.5) 100%), url(../images/contact-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -135px;
    background-attachment: fixed; }

.featured h2 {
  margin-bottom: 40px; }

.featured .featured-item {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden; }
  .featured .featured-item:hover .featured-description {
    bottom: 0;
    opacity: 1; }
  .featured .featured-item .featured-shirt {
    box-shadow: 0px 0px 3px rgba(50, 49, 51, 0.2); }
  .featured .featured-item .featured-description {
    width: 100%;
    background-color: rgba(55, 188, 155, 0.85);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: -500px;
    left: 0;
    opacity: 0;
    transition: all .5s; }
    .featured .featured-item .featured-description h3,
    .featured .featured-item .featured-description p {
      margin: 10px 0; }
    .featured .featured-item .featured-description .view-details {
      color: white;
      display: inline-block;
      margin-top: 10px; }
      .featured .featured-item .featured-description .view-details button {
        background-color: rgba(218, 68, 83, 0.95);
        padding: 0 10px;
        border: none; }
      .featured .featured-item .featured-description .view-details p {
        display: inline-block;
        padding: 0 10px; }
      .featured .featured-item .featured-description .view-details:hover {
        box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
        cursor: pointer; }

.coupon {
  width: 100%;
  padding: 100px 0;
  background-image: linear-gradient(to bottom, rgba(88, 206, 177, 0.5) 0%, rgba(55, 188, 155, 0.5) 100%), url("../images/horizon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center; }
  .coupon h1 {
    text-shadow: 0px 0px 10px rgba(50, 49, 51, 0.5);
    text-transform: uppercase;
    font-size: 2.2em; }
  .coupon button {
    color: white;
    text-transform: uppercase;
    background-color: #4c4a4d;
    border: 3px solid white;
    padding: 10px 15px; }

footer {
  width: 100%;
  padding: 60px 0;
  background-color: #323133;
  color: white; }
  footer .logo {
    width: 40%;
    height: auto; }
  footer a {
    color: #37BC9B; }
    footer a:hover, footer a:active {
      color: #58ceb1; }
  footer p {
    padding: 2px 0;
    margin: 0; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      padding: 2px 0; }

.about {
  font-size: 1.2em;
  line-height: 1.4em; }
  .about h2 {
    padding: 40px 0 20px;
    margin: 0; }

.products.coupon {
  background-position: 0px -180px; }

.contact .store-location {
  padding-top: 40px; }

.contact .text-input-element {
  margin-bottom: 20px; }
  .contact .text-input-element:focus .text-label {
    display: none; }
  .contact .text-input-element .text-label,
  .contact .text-input-element .message-label {
    color: #4c4a4d;
    font-weight: normal;
    font-size: 0.8em;
    display: block; }
  .contact .text-input-element .text-input,
  .contact .text-input-element .message-input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #323133;
    outline: none; }
    .contact .text-input-element .text-input:focus,
    .contact .text-input-element .message-input:focus {
      color: #323133;
      border: 1px solid #37BC9B; }
  .contact .text-input-element .message-input {
    height: 150px; }
  .contact .text-input-element button {
    padding: 5px 10px;
    background-color: transparent;
    border: 3px solid #DA4453;
    color: #DA4453;
    font-weight: bold;
    float: right; }
    .contact .text-input-element button:hover {
      border: 3px solid #e26f7a;
      color: #e26f7a; }

.item-cart {
  min-width: 350px;
  padding: 10px 40px;
  background-color: #4c4a4d;
  color: #fefefe;
  font-size: 14px;
  position: fixed;
  right: 20px;
  bottom: 0; }
  .item-cart h3 {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 5px;
    margin: 0; }
  .item-cart .items {
    padding: 15px 0;
    border-top: 1px solid rgba(254, 254, 254, 0.1);
    border-bottom: 1px solid rgba(254, 254, 254, 0.1);
    margin: 15px 0; }
    .item-cart .items div {
      padding: 2px 0; }
      .item-cart .items div.titles {
        font-weight: bold;
        padding-bottom: 10px; }
      .item-cart .items div p {
        width: 130px;
        display: inline-block; }
        .item-cart .items div p.item-remove {
          width: 25px; }
        .item-cart .items div p.item-color {
          width: 120px; }
        .item-cart .items div p.item-price {
          width: 100px;
          text-align: right;
          float: right; }
        .item-cart .items div p.remove-all {
          width: 100px;
          padding: 10px 0 0 0;
          display: block;
          text-align: left; }
      .item-cart .items div a {
        color: rgba(254, 254, 254, 0.6); }
  .item-cart .totals {
    float: right; }
    .item-cart .totals div {
      display: block; }
      .item-cart .totals div p {
        min-width: 100px;
        text-align: right;
        display: inline-block; }
  .item-cart #minimizeCart,
  .item-cart .items span,
  .item-cart .totals span {
    float: right; }
  .item-cart #minimizeCart {
    cursor: pointer; }

@media screen and (max-width: 990px) {
  header nav {
    position: relative;
    z-index: 100; }
    header nav #menuIcon {
      display: inline-block; }
    header nav #menuContent {
      display: none;
      background-color: #323133;
      padding: 0;
      position: absolute;
      top: 65px;
      right: 0; }
    header nav ul li {
      min-width: 180px;
      padding: 20px; }
    header nav:hover #menuIcon {
      background-color: #58ceb1; }
    header nav:hover #menuContent {
      display: block; }
  .featured .featured-item .featured-description .description {
    display: none; }
  .featured .featured-item .featured-description .view-details button {
    font-size: 0.8em; }
  footer nav,
  footer .logo,
  footer .resources,
  footer .support {
    margin-bottom: 40px; }
  .item-cart {
    right: 0; }
    .item-cart .items div p {
      width: 115px; }
      .item-cart .items div p.item-color, .item-cart .items div p.item-date {
        display: none; }
      .item-cart .items div p.item-remove {
        width: 50px; } }
