@media screen and (max-width: 990px) {

	header {

		nav {
			position: relative;
			z-index: 100;

			#menuIcon {
				display: inline-block;
			}

			#menuContent {
				display: none;
				background-color: $color-black-dark;
				padding: 0;
				position: absolute;
				top: 65px;
				right: 0;
			}

			ul {

				li {
					min-width: 180px;
					padding: 20px;
				}
			}

			&:hover {

				#menuIcon {
					background-color: $color-mint-light;
				}

				#menuContent {
					display:block;
				}
			}
		}
	}

	.featured {

		.featured-item {

			.featured-description {

				.description {
					display: none;
				}

				.view-details {

					button {
						font-size: 0.8em;
					}
				}
			}
		}
	}

	footer {

		nav,
		.logo,
		.resources,
		.support {
			margin-bottom: 40px;
		}
	}

	.item-cart {
		right: 0;

		.items {

			div {

				p {
					width: 115px;

					&.item-color,
					&.item-date {
						display: none;
					}

					&.item-remove {
						width: 50px;
					}
				}
			}
		}
	}
}